@model ContactModel
@{
    ViewData["Title"] = "Contact Editing";
}

<div class="text-center">
    <h1 class="display-4">Editing Contact</h1>

</div>

<form asp-controller="Contact" asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter name">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <br />
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Enter email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <br />
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" asp-for="Phone" class="form-control" placeholder="Enter phone number">
        @Html.ValidationMessageFor(x => x.Phone)
    </div>
    <br />
    <div class="button-container">
        <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Edit</button>
    </div>
    <div class="button-container">
        <a class="btn btn-secondary btn-block" asp-controller="Contact" asp-action="Index" role="button" style="width: 100%;">Return</a>
    </div>
</form>
<style>
    .button-container {
        width: 100%;
        margin-bottom: 10px;
    }
</style>